
  
  .container {
    transition: all .1s cubic-bezier(.55,0,.1,1);
  }
  
  .page-enter-active, .page-leave-active {
    transition: opacity .1s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }
  
  .bounce-enter-active {
    animation: bounceok-in .8s;
  }
  .bounce-leave-active {
    animation: bounceok-out .2s;
  }
  @keyframes bounceok-in {
    0% { transform: scale(0) }
    50% { transform: scale(1.5) }
    100% { transform: scale(1) }
  }
  @keyframes bounceok-out {
    0% { transform: scale(1) }
    50% { transform: scale(1.5) }
    100% { transform: scale(0) }
  }
  
  .slide-left-enter,
  .slide-right-leave-active {
    opacity: 0;
    transform: translate(30px, 0);
  }
  .slide-left-leave-active,
  .slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
  }